body {
  margin: 0;
  padding: 0;
}

app-switch-template {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > section {
    padding: 0 20px;
  }
}

app-footer {
  margin-top: auto;
}
